#map{
    width: 100%;
    height: auto;
    margin-bottom: auto;
    overflow:hidden;
    flex: 1;
    background-color: linen;
}


.header {
    width: 100%;
    background-color: aliceblue;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

#menu {
    margin-left: 30px;
    padding: 10px 0;
}

.curchoice {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin: 0 30px;
    padding: 10px 0;
    max-width: 40%;
}

.legendplace {
    margin: 0 30px;
    height: 50px;
    align-items: center;
    /* border: solid 1px steelblue; */
}

.rose-graphic, .freq-graphic, .ww-table {
    visibility: hidden;
}


.graphics {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 73.5vw;
    height: 18vw;
    /* border: solid 1px goldenrod; */
    display: flex;
    justify-content: space-evenly;
}

.control_butt {
    position: absolute;
    top: 6px;
    left: 7px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.fa-times-circle, .fa-info-circle {
    color: lightsteelblue;
    font-size: 20px;
}

.rose-graphic {
    width: 18vw;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 12px whitesmoke;
    position: relative;
    margin-right: 20px;
}


#rose-graphic {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}




.freq-graphic {
    width: 40vw;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 12px whitesmoke;
    position: relative;
}

#freq-graphic {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.ww-table {
    position: absolute;
    background-color: white;
    right: 5px;
    bottom: 5px;
    width: 25vw;
    height: 45vh;
    box-sizing: border-box;
    box-shadow: 0 0 12px whitesmoke;
}

.timedata {
    position: absolute;
    right: 0;
    top: 50px;
    
}

.table_place {
    position: absolute;
    right: 10%;
    height: auto;
    top: 14%;
    min-width: 460px;
    background-color: white;
    overflow: visible;
    border: solid 1px whitesmoke;
    padding: 5px;
    visibility: hidden;
}

.responce_table {
    height: 0;
    visibility: hidden;
}

.tablehead{
    text-align: left!important;
    font-size: 12px!important;
    font-weight: 600!important;
}

.rowhead{
    font-size: 12px;
    font-weight: 600;
}

.dates {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

.supply_title{
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#timeshowbut{
    height: 0;
    visibility: hidden;
}

#calcbut{
    margin-top: 18px;
}

.uk-button-default {
    background-color: white !important;
}



@media screen and (max-width: 925px){
    .graphics {
        flex-direction: column-reverse;
        height: 50vh;
        justify-content: flex-start;
    }
    .rose-graphic {
        order: 1;
        height: 21vw;
        width: 21vw;
        min-width: 145px;
        min-height: 145px;;
    }
    .freq-graphic {
        height: 22vw;
        margin-top: 1vh;
        min-width: 373px;
        min-height: 127px;;
    }
}

@media screen and (max-width: 960px){
    .ww-table {
        height: 74.5vh;
        width: 20vw;
        min-width: 186px;
}
}